#form_settings {
    margin-bottom: 1em;
}

#form_options .form-option-row {
    position: relative;
}

#form_options .outer-row {
    padding:2px 10px 2px 2px;
}

/*#form_options .basic-options {*/
    /*padding-left:20px;*/
    /*padding-right:20px;*/
/*}*/
/*#form_options .extended-options {*/
    /*background:#FFF;*/
/*}*/

#form_options .form-option-row label {
    font-size:12px;
}
#form_option_list {
    margin-bottom:15px;
}

#form_options .form-option-row:nth-child(2n+0) {
    margin:10px 0;
}
#form_options .form-option-row input {
    width:100%;
}
#form_options .form-option-row small {
    color:#999;
    line-height:90%;
    display: inline-block;
    margin: 5px 0;
}
#form_options .form-option-row .select2-container {
    width:100%;
}
/*#form_options .sort-handle {*/
    /*float:left;*/
    /*margin-top:40px;*/
    /*margin-right:-10px;*/
/*}*/
/*#form_options .form-row-icons {*/
    /*position: absolute;*/
    /*right:-15px;*/
    /*top:0px;*/
/*}*/
/*#form_options .form-row-icons .btn {*/
    /*z-index: 10;*/
    /*color:#666;*/
/*}*/

#form_options .required-row-container {
    padding-top:28px;
}
#form_options .required-row-container input {
    width:auto;
    float:left;
}
#form_options .required-row-container label {
    display: inline;
}
#form_options .form-option-row:nth-child(2n+0) {
    margin:10px 0;
}
/*#form_options .constraints-row label {*/
    /*display: inline-block;*/
    /*width:80%;*/
/*}*/
/*#form_options .constraints-row input {*/
    /*width: auto;*/
/*}*/

#form_options .taxonomy-image-wrapper {
    float: left;
    margin: 5px;
}
#form_options .taxonomy-image-wrapper .taxonomy-image.selected {
    outline: solid 5px #56A9FF;
}

#ct-taxonomies-list thead th {
    width: 40%;
}

#ct-taxonomies-list thead th:last-of-type {
    width: 20%;
}