
{% extends "_base/_page-nav.twig" %}

{% block page_nav 'Settings/ExtendBolt' %}

{% block page_title %}
{{ __('Taxonomy Manager') }}
{% endblock page_title %}

{% block page_subtitle %}
{% endblock page_subtitle %}

{# clear default messages, because we use them in a different spot, in this template #}
{% block messages "" %}

{% block page_main %}

    <div class="row boltbb-bolt-container">
        <div class="col-md-9">

            <div class="alert alert-info">
                {{ __('Warning: If you delete or change the name of a taxonomy or an option of it, you should review your content types because the linked taxonomies would be deleted.') }}
            </div>

            {% include '_sub/_messages.twig' %}

            <section class="forms-container">
                <h3>{{ __('Available Taxonomies') }}</h3>
                <div class="table-responsive">
                    <table class="table-striped dashboardlisting userlist">
                        <thead>
                            <tr>
                                <th>{{ __('Name') }}</th>
                                <th>{{ __('Actions') }}</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for name, taxonomy in taxonomies %}
                                <tr>
                                    <td class="name">
                                        <a href="{{ path('taxonomymanager.edit', {'taxonomyname': name}) }}">
                                            {{ __(taxonomy.name ? taxonomy.name : name) }}
                                        </a>
                                    </td>
                                    <td class="actions">
                                        <div class="btn-group">
                                            <a href="{{ path('taxonomymanager.edit', {'taxonomyname': name}) }}" class="btn btn-default btn-xs">
                                                <i class="fa fa-edit"></i> {{ __('Edit') }}
                                            </a>
                                            <button class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                                                <i class="fa fa-info-sign"></i>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu pull-right">
                                                <li>
                                                    <form action="{{ url('taxonomymanager.delete', {'taxonomyname': name}) }}" method="POST">
                                                        <button type="submit" class="btn btn-link btn-block confirm" data-confirm="{{ __('Are you sure you want to permanently delete this Taxonomy?') }}">
                                                            <span class="pull-left">
                                                                <i class="fa fa-trash"></i>
                                                                {{ __('Delete') }}
                                                            </span>
                                                        </button>
                                                    </form>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
            <hr />

            <section class="forms-container">
                <h3>{{ __('Available Content Types') }}</h3>
                <div class="table-responsive">
                    <table id="ct-taxonomies-list" class="table-striped dashboardlisting userlist">
                        <thead>
                            <tr>
                                <th>{{ __('Name') }}</th>
                                <th>{{ __('Taxonomies') }}</th>
                                <th>{{ __('Actions') }}</th>
                            </tr>
                        </thead>

                        <tbody>
                        {#{{ dump(contenttypes) }}#}
                            {% for name, contentType in contenttypes %}
                                <tr>
                                    <td class="name">
                                        {{ __(contentType.name ? contentType.name : name) }}
                                    </td>
                                    <form name="taxonomy-ct-form-{{ name }}" action="{{ url('taxonomymanager.savect', {'contenttypename': name}) }}" method="post">
                                        <td class="taxonomies">
                                            <select name="ct-taxonomies-{{ name }}[]" class="ct-taxonomies" multiple="multiple" style="width: 100%;">
                                            {% for name, taxonomy in taxonomies %}
                                                {% set selected = (name in contentType.taxonomy) ? 'selected' : '' %}
                                                <option value="{{ name }}" {{ selected }}>{{ __(taxonomy.name ? taxonomy.name : name) }}</option>
                                            {% endfor %}
                                            </select>
                                        </td>
                                        <td class="actions">
                                            <button class="btn btn-xs btn-default"  type="submit">
                                                <i class="fa fa-trash"></i> {{ __('Save') }}
                                            </button>
                                        </td>
                                    </form>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
            <hr />
        </div>

        <aside class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-cog fa-fw"></i>{{__('Create a new taxonomy') }}</div>
                <div class="panel-body">
                    <p>{{ __('Choose a name for the taxonomy and hit create') }}</p>
                    {% form_theme create 'form_bolt_layout.twig' %}
                    <form action="" method="POST" class="form-horizontal" role="form">
                        <div class="row">
                            {% for field in create %}
                                <div class="col-sm-12">
                                    {% if 'token' not in form_label(field) %}
                                        {{ form_label(field)}}
                                    {% endif %}
                                    {{ form_widget(field) }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="clearfix"><hr></div>
                        <fieldset>
                            <input type="submit" value="{{__('Create Taxonomy') }}" name="submit" class="btn btn-primary">
                        </fieldset>
                    </form>
                </div>
            </div>
        </aside>

    </div>

{% endblock page_main %}