
{% extends "_base/_page-nav.twig" %}

{% block page_nav 'Settings/ExtendBolt' %}

{% block page_title %}
{{ __('Taxonomy Manager') }}
{% endblock page_title %}

{% block page_subtitle %}
{% endblock page_subtitle %}

{# clear default messages, because we use them in a different spot, in this template #}
{% block messages "" %}

{% block page_main %}

    <div class="row boltbb-bolt-container">
        <div class="col-md-9">

            {% include '_sub/_messages.twig' %}

            <section class="forms-container">
                <div class="row">
                    <div class="col-xs-12">
                        {% form_theme form 'taxonomy_manager_theme.twig' %}
                        <form action="" method="POST" class="form-horizontal" role="form">
                        
                            <ul class="nav nav-tabs" id="filtertabs">
                                <li class="active"><a href="#tab-main" data-toggle="tab">{{ __('Settings') }}</a></li>
                                <li><a href="#tab-options" data-toggle="tab">{{ __('Options') }}</a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="tab-main">
                                    <h4>{{ __('Settings') }}</h4>
                                    <fieldset class="text">
                                        {{ form_widget(form.settings) }}
                                    </fieldset>
                                </div>
                                <div class="tab-pane" id="tab-options">
                                    {% form_theme form 'taxonomy_manager_options_theme.twig' %}
                                    <fieldset class="text" id="form_option_list">
                                        {{ form_widget(form.options) }}
                                    </fieldset>
                                    <fieldset class="text">
                                        <button id="form_option_add" type="button" class="btn btn-default btn-number">
                                            <i class="fa fa-plus fa-fw"></i> {{ __('Add New Option') }}
                                        </button>
                                    </fieldset>
                                    <hr>
                                </div>
                            </div>
                            <fieldset>
                                <input type="submit" value="{{ __('Save') }}" name="submit" class="btn btn-primary">
                            </fieldset>
                        </form>
                    </div>
                </div>

            </section>
            <hr />
        </div>

        <aside class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-link fa-fw"></i>{{ __('Quick Links') }}</div>
                <div class="panel-body">
                    <ul>
                        <li>
                            <a href="{{url('taxonomymanager.index')}}">
                                <i class="fa fa-file-text-o fa-fw"></i>{{ __('Back to taxonomy list') }}
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="btn-group">
                        <form action="{{ url('taxonomymanager.delete', {'taxonomyname':taxonomyname}) }}" method="post" id="sidebarformdelete">
                            <button class="btn btn-silent-danger"  type="submit">
                                <i class="fa fa-trash"></i> {{ __('Delete Taxonomy') }}
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            {% import '_macro/_panels.twig' as panels %}
            {{ panels.stack(10, true) }}

            {# Modal "select from server" #}
            <div class="modal fade" id="selectModal-stack-taxonomies" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content"></div>
                </div>
            </div>
        </aside>

    </div>

{% endblock page_main %}