{% block form_row %}
    {% spaceless %}
        <div class="{% if form.vars.compound %}well form-option{% endif %}">
            {% if form.vars.compound %}
                {% set class = 'form-option-row' %}
                <div class="sort-handle"><i class="fa fa-sort"></i></div>
            {% else %}
                {% set class = 'form-control large ' ~ form.vars.name ~ '-row' %}
                {{ form_label(form, '', {'label_attr': {'class':'control-label' } }) }}
            {% endif %}

            {% if form.vars.compound %}
            <div class="row">
                <div class="col-md-6">
            {% endif %}

            {{ form_widget(form, {'attr' : { 'class' : class } }) }}
            {% if form.vars.attr.help %}
                <small>{{ form.vars.attr.help }}</small>
            {% endif %}
            {{ form_errors(form) }}

            {% if form.vars.compound %}
                </div>
                <div class="col-md-6 taxonomy-images">
                    {#{{ dump(paths) }}#}
                    {% set images = app['stack'].listitems(10) %}
                    {% for image in images %}

                        <div class="taxonomy-image-wrapper">
                            <img src="{{ image.filepath|thumbnail(100,100) }}" data-path="{{ image.filepath }}" class="taxonomy-image">
                        </div>

                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <a title="Delete option" href="#" class="btn btn-default form-row-delete"><i class="fa fa-trash"></i> Delete</a>
                </div>
            </div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock form_row %}